# =========================
# Virtual Environments
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Data Files (Large)
# =========================
data/*.parquet
data/*.csv
data/*.zip

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
.env
.env.*
*.pem
*.key

# =========================
# Logs
# =========================
*.log

# =========================
# ML Artifacts
# =========================
mlruns/
models/
outputs/